<template>
  <div id="BrandCreate">
    <button @click="showBrandCreate = true">Adicionar</button>
    <div class="wrapper" v-if="showBrandCreate">
      <div class="close" @click="close">x</div>
      <h2>Cadastro de Marca</h2>

      <label>Nome da Marca</label>

      <div><input v-model="brand" placeholder="Digite a Marca"/></div>

      <button @click="save" class="saveButton">SALVAR</button>
    </div>

  </div>
</template>

<script>
  export default {
    name: 'brandCreate',
    data() {
      return {
        brand: '',
        showBrandCreate: false,
      }
    },
    methods: {
      close: function(){
        this.showBrandCreate = false;
      },
      save: function () {
        var that = this;
        var newBrand = {name: this.brand};
        jQuery.post('http://dev.mentores/brand?token=ZEt3Pcx3JXq', newBrand, function (data) {
          newBrand.id = data.id;
          that.$emit("added", newBrand);
        });
        this.showBrandCreate = false;
      }
    }
  }
</script>

<style scoped>
  #BrandCreate {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }

  .wrapper {
    background: white;
    border-radius: 3px;
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.75);
  }

  input {
    width: 150px;
    float: none;
    padding: 10px;
    font-size: 12px;
    text-align: center;
  }

  button:hover{
    background: #058cca;
  }

  button {
    background: #03A9F4;
    border: none;
    border-radius: 2px;
    padding: 11px;
    font-size: 13px;
    color: white;
    font-weight: 900;
  }

  .saveButton {
    margin: 20px;
  }

  label {
    margin-left: 78px;
  }

  .close{
    float: right;
    background: #B71C1C;
    color: white;
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
</style>
