<template>
  <div class="wrapper">
    <label>Marca</label>
    <select v-model="selectedBrand" @change="brandWasSelected">
      <option value="0">Selecione:</option>
      <option v-for="brand in brands" :value="brand" :selected="brand.id == selectedBrand.id">
        {{brand.id}} - {{brand.name}}
      </option>
    </select>
    <div class="addWrapper">
      <BrandCreate @added="addedBrand"></BrandCreate>
    </div>
    <div class="addWrapper">
      <BrandEdit @added="editedBrand" v-bind:propSelectedBrand="selectedBrand"></BrandEdit>
    </div>
    <div class="addWrapper">
      <button @click="deleteBrand">Deletar</button>
    </div>
  </div>
</template>

<script>
  import BrandCreate from './BrandCreate.vue';
  import BrandEdit from './BrandEdit.vue';

  export default {
    components: {
      BrandCreate,
      BrandEdit,
    },
    name: 'app',
    props: ['propBrandId'],
    data() {
      return {
        selectedBrand: 0,
        brands: [],
      }
    },
    methods: {
      save: function () {
        alert(this.brand);
      },
      addedBrand: function (newBrand) {
        this.brands.push(newBrand);
        this.selectedBrand = newBrand;
        this.$emit('selected', newBrand);
      },
      editedBrand: function (editedBrand) {
        var index = that.brands.findIndex(x => x.id === editedBrand.id);
        this.brands[index] = editedBrand;
      },
      brandWasSelected: function () {
        this.$emit('selected', this.selectedBrand);
      },
      getBrands: function () {
        var that = this;

        jQuery.get('http://dev.mentores/brand?token=ZEt3Pcx3JXq', function (data) {
          that.brands = data;
        });
      },
      deleteBrand: function () {
        var that = this;

        jQuery.ajax({
          url: 'http://dev.mentores/brand/' + this.selectedBrand.id + '?token=ZEt3Pcx3JXq',
          type: 'DELETE',
          success: function () {
            var index = that.brands.indexOf(that.selectedBrand);
            that.brands.splice(index, 1);
            that.selectedBrand = 0;
          }
        });
      }
    },
    mounted() {
      this.getBrands()
    },
    watch: {
      propBrandId: function(newVal) {
        console.log(this.brands);

        for(var i in this.brands){
          if(this.brands.hasOwnProperty(i)){
            if(this.brands[i].id == newVal){
              this.selectedBrand  = this.brands[i];
              return;
            }
          }
        }

        this.selectedBrand = 0;

      }
    }
  }
</script>

<style scoped>

  .addWrapper {
    margin-top: 7px;
    float: right;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  button:hover{
    background: #de362a;
  }

  button {
    background: #F44336;
    border: none;
    border-radius: 2px;
    padding: 11px;
    font-size: 13px;
    color: white;
    font-weight: 900;
  }

</style>
