<template>
  <div id="CategoryCreate">
    <button v-on:click="showCategoryCreate = true">Adicionar</button>
    <div class="wrapper" v-if="showCategoryCreate">
      <h2>Cadastro de Categoria</h2>

      <label>Nome da Categoria</label>

      <div><input v-model="category" placeholder="Digite a Categoria"/></div>

      <button v-on:click="save" class="saveButton">SALVAR</button>
    </div>

  </div>
</template>

<script>
  export default {
    name: 'categoryCreate',
    data() {
      return {
        category: '',
        showCategoryCreate: false,
      }
    },
    methods: {
      save: function () {
        var that = this;
        var newCategory = {name: this.category};
        jQuery.post('http://dev.mentores/brand?token=ZEt3Pcx3JXq', newCategory, function (data) {
          newCategory.id = data.id;
          that.$emit("added", newCategory);
        });
        this.showCategoryCreate = false;
      }
    }
  }
</script>

<style scoped>
  #CategoryCreate {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }

  .wrapper {
    background: white;
    border-radius: 3px;
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.75);
  }

  input {
    padding: 10px;
    font-size: 12px;
    text-align: center;
  }

  button {
    background: #03A9F4;
    border: none;
    border-radius: 2px;
    padding: 11px;
    font-size: 13px;
    color: white;
    font-weight: 900;
  }

  .saveButton {
    margin: 20px;
  }

  label {
    margin-left: 78px;
  }
</style>
