<template>
  <div class="wrapper">
    <div id="app">
      <h1>Editor de Produtos ASDF</h1>

      <div class="line product">
        <label>Buscar Produto</label>
        <input placeholder="Digite e De Um Enter" v-model="productSearch" @change="searchProduct"
               class="productSearch"/>
      </div>
      <div class="line product">

        <label>Produto selecionado</label>
        <select v-model="selectedProduct" @change="productSelected">
          <option value="0">Selecione:</option>
          <option v-for="product in products" :value="product" :selected="product.id == selectedProduct.id">
            {{product.id}} - {{product.name}}
          </option>
        </select>
        <button class="deleteProduct" @click="deleteProduct">Deletar</button>

      </div>

      <form action="#">
        <div class="linesWrapper">
          <div class="line">
            <label>Nome</label>
            <input v-model="name" placeholder="Termometro">
          </div>

          <div class="line">
            <label>Preço</label>
            <input v-model="price" placeholder="5.90">
          </div>

          <div class="line">
            <label>Quantidade</label>
            <input v-model="stock" placeholder="2">
          </div>

          <div class="line">
            <BrandLine @selected="brandSelected" v-bind:propBrandId="selectedProduct.brand"></BrandLine>
          </div>

          <div class="line">
            <button class="saveProduct" @click="saveProduct">Salvar</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</template>

<script>
  import BrandLine from './components/form/brand/BrandLine.vue';
  import CategoryCreate from './components/CategoryCreate.vue';

  export default {
    components: {
      BrandLine,
      CategoryCreate,
    },
    name: 'app',
    data() {
      return {
        selectedBrand: {},
        name: null,
        price: null,
        stock: null,
        selectedProduct: 0,
        products: [],
        productSearch: "",
      }
    },
    methods: {
      saveProduct: function () {

        var productToSave = {
          name: this.name,
          price: this.price,
          stock: this.stock,
          brand: this.selectedBrand.id || this.selectedProduct.brand
        };

        var that = this;

        if (this.selectedProduct == 0) {
          jQuery.post('http://dev.mentores/product?token=ZEt3Pcx3JXq', productToSave, function (data) {
            productToSave.id = data.id;
            that.products.push(productToSave);
            that.selectedProduct = productToSave;
            alert("Adicionado");
          });
        } else {
          productToSave.id = this.selectedProduct.id;

          jQuery.ajax({
            url: 'http://dev.mentores/product/' + productToSave.id + '?token=ZEt3Pcx3JXq',
            data: productToSave,
            type: 'PUT',
            success: function () {
              for(var i in that.products){
                if(that.products.hasOwnProperty(i)){
                  if(that.products[i].id == productToSave.id){
                    that.products[i] = productToSave;
                    break;
                  }
                }
              }

              that.selectedProduct = productToSave;

              alert("Atualizado");
            }
          });
        }
        console.log(productToSave)
      },
      brandSelected: function (selectedBrand) {
        this.selectedBrand = selectedBrand;
      },
      getProducts: function () {
        var that = this;
        jQuery.get('http://dev.mentores/product?token=ZEt3Pcx3JXq', function (data) {
          that.products = data;
        });
      },
      deleteProduct: function () {
        var that = this;

        jQuery.ajax({
          url: 'http://dev.mentores/product/' + this.selectedProduct.id + '?token=ZEt3Pcx3JXq',
          type: 'DELETE',
          success: function () {
            var index = that.products.indexOf(that.selectedBrand);
            that.products.splice(index, 1);
            that.selectedProduct = 0;
          }
        });
      },
      searchProduct: function () {

        var product = this.products.find(x => x.name.toLowerCase().indexOf(this.productSearch.toLowerCase()) !== -1);

        if (this.productSearch && product) {
          this.selectedProduct = product;
        } else {
          this.selectedProduct = 0;
        }

        this.productSelected();
      },
      productSelected: function () {
        if (this.selectedProduct == 0) {
          this.name = null;
          this.price = null;
          this.stock = null;
        } else {
          this.name = this.selectedProduct.name;
          this.price = this.selectedProduct.price;
          this.stock = this.selectedProduct.stock;
        }

      }
    },
    mounted() {
      this.getProducts()
    },
  }
</script>

<style>

  button:focus,
  input:focus,
  select:focus {
    outline: 0;
  }

  html, body {
    position: relative;
    height: 100%;
    width: 100%;
    height: 100vh;
    width: 100vw;
    margin: 0;
  }

  body {
    background: #f2f5fa;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
    background: white;
    width: 700px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 600px;
    border: 2px solid #D3D3D3;
    border-radius: 9px;
    padding: 40px;
  }

  form {
    display: inline-flex;
  }

  .line.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 643px;
    margin-left: 30px;
  }

  .line {
    min-height: 60px;
  }

  input {
    float: right;
    height: 9px;
    padding: 10px;
    font-size: 13px;
    width: 400px;
  }

  .line label,
  .line select {
    float: left;
  }

  .line select {
    height: 31px;
    width: 230px;
    margin-top: 10px;
    background: white;
  }

  .line label {
    font-size: 20px;
    margin: 19px;
    margin-top: 12px;
  }

  .linesWrapper {
    width: 600px;
  }

  .deleteProduct:hover {
    background: #de362a;
  }

  .saveProduct:hover {
    background: #219a26;
  }

  .saveProduct {
    background: #4CAF50;
    border: none;
    border-radius: 2px;
    padding: 16px;
    font-size: 16px;
    color: white;
    font-weight: 900;
    margin-top: 8px;
  }

  .deleteProduct {
    background: #F44336;
    border: none;
    border-radius: 2px;
    padding: 11px;
    font-size: 13px;
    color: white;
    font-weight: 900;
    margin-top: 8px;
  }

  .productSearch {
    height: 9px;
    padding: 10px;
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid gray;
    width: 400px;
  }

  form {
    border: 2px solid #D3D3D3;
    border-radius: 4px;
    padding: 20px;
    margin-top: 30px;
  }

</style>
